
    <section class = "header">
        <nav>
            <a href = "index.html"></a>
            <div class="nav-links">
              <Ul>
                    <li> <a routerLinkActive="active" routerLink="/home"> HOME</a></li>
                    <li> <a routerLinkActive="active" routerLink="/aboutus"> ABOUT US </a></li>
                    <li> <a routerLinkActive="active" routerLink="/contactus"> CONTACT US</a></li>
                    <li> <a routerLinkActive="active" routerLink="/loginpage"> LOGIN</a></li>
                    <!-- <li> <a routerLinkActive="active" routerLink="/registerpage">REGISTER</a></li>  -->
                    <li> <a routerLinkActive="active" routerLink="/employeelist">ALL EMPLOYEES</a></li> 
                    <li> <a routerLinkActive="active" routerLink="/employeeprofile">EMPLOYEE PROFILE</a></li> 
                </Ul>
            </div>
        </nav>
        </section>
        <!-- <mainpage></mainpage> -->

   
<router-outlet></router-outlet>