body {
    padding-top:50px;
    background-color: #9accf3
}
.box{
    padding-top:50px;
}
.card {
    padding-top:50px;
    background-color:white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 6px 6px 2px #0f1113
}

.allergy {
    position: relative;
    bottom: 8px;
    color: grey
}

.head {
   
    color: #97989a;
    font-size: 12px
}

.bottom {
    
    color:grey;
    font-size: 18px;
  
}

/* GReen result */
body {
    background-color: rgb(117, 194, 245)
}

.badge {
    font-size: 25px;
    font-weight: 200
}

.badge i {
    font-size: 20px;
    font-weight: 200
}

.about-rating {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px
}

.total-ratings {
    font-size: 12px
}

.bg-custom {
    background-color: #b7dd29 !important
}

.progress {
    margin-top: 10px
}
/* .mt-4{
    font-weight: bold;
      color: rgb(8, 7, 7);
} */