<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<section class="box">
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-2 text-center">
                <a href="#" class="previous" routerLinkActive="active" routerLink="/employeelist">&laquo; Back</a>
                <div class="row">
                    <div class="col-md-7 border-right no-gutters">
                        <div class="py-3"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="100" class="rounded-circle">
                            <h4 class="text-secondary" name="employeeName">{{resultData.firstName | uppercase}} {{resultData.lastName | uppercase}}</h4>
                            <div class="stats">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head"><h4><b>Email</b></h4></span> <span class="text-left bottom">{{resultData.email}}</span> </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head"><h4><b>Employee Id</b></h4></span> <span class="text-left bottom">{{resultData.employeeId}}</span> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container mt-5">
                                                <span class="badge bg-success">{{resultData.employeeRating}}/100 
                                                    <i class="fas fa-star"></i>
                                                </span> 
                            </div>
                            

                            &nbsp;&nbsp;
                            <!-- <div class="px-3"><button type="button" class="btn btn-primary btn-block" (click)="giveFeedback()">Employee Feedback</button></div> -->
                              <div>{{setResult()}}</div> 

                             <!-- <div>
                                <!-- Inline Content created by {{ name }}<br />
                                <div [ngSwitch]="color()">
                                  <div *ngSwitchCase="'red'">
                                    <h2>Eligible For Promotion</h2>
                                  </div>
                                  <div *ngSwitchCase="'blue'">
                                    <h2>Eligible For Salary Increment</h2>
                                  </div>
                                  <div *ngSwitchCase="'green'">
                                    <h2>Training Required</h2>
                                  </div>
                                  <div *ngSwitchDefault>No Survey Taken</div>
                                </div>
                              <!-- </div> -->
                        </div> 
                    </div>
                    <div class="col-md-5">
                        <div class="py-3">
                            <div> <span class="d-block head" style="forced-color-adjust: black;"><h4><b>Gender</b></h4></span> <span class="bottom">{{resultData.gender | uppercase}}</span> </div>
                            <div class="mt-4"> <span class="d-block head"><h4><b>Mobile</b></h4></span> <span class="bottom">(+91)&nbsp;{{resultData.phoneNumber}}</span> </div>
                            <div class="mt-4"> <span class="d-block head"><h4><b>Department</b></h4></span> <span class="bottom">{{resultData.department}}</span> </div>
                            <div class="mt-4"> <span class="d-block head"><h4><b>HireDate</b></h4></span> <span class="bottom">{{resultData.hireDate | date}}</span> </div>
                            <div class="mt-4"> <span class="d-block head"><h4><b>Survey Status</b></h4></span> <span class="bottom">{{resultData.surveyStatus | uppercase}}</span> </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>