
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                    <h2><b>Manage Employees</b></h2>
                </div>
                <div class="col-sm-6">
                <a class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span routerLinkActive="active" routerLink="/employeecreate">Add New Employee</span></a> 
                </div>
                <!-- <form #f="ngForm" class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <div  class="search">
                    <input  type="number" style="color:black" placeholder="Search.." #num="ngModel" ngModel name="searchById" [(ngModel)]="searchById">
                    <button type="submit" routerLinkActive="active" routerLink="/searchpage/{{num.value }}"><i class="fa fa-search" ></i></button>
                     <button type="submit" (click)="getEmployeeById(num.value)"><i class="fa fa-search" ></i></button>
                    </div>
                </form>
                  -->
                </div>
                
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th>
                    </th>
                        <th><h4><b>EmployeeId</b></h4></th>
                        <th><h4><b>First Name</b></h4></th>
                        <th><h4><b>Last Name</b></h4></th>
                        <th><h4><b>Department</b></h4></th>
                        <th><h4><b>Survey Status</b></h4></th>
                        <th></th>
                        <th></th>
                        <th><h4><b>Action</b></h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of Employees">
                    <td class="data">
              
                        <td><h4>{{emp.employeeId}}</h4></td>
                        <td><h4>{{emp.firstName}}</h4></td>
                        <td><h4>{{emp.lastName}}</h4></td>
                        <td><h4>{{emp.department}}</h4></td>
                        <td><h4>{{emp.surveyStatus}}</h4></td>
                        <td><button type="button" class="btn btn-outline-info" routerLinkActive="active" routerLink="/surveypage/{{ emp.employeeId }}"><h5>Take Survey</h5></button></td>
                        <td><button type="button" class="btn btn-outline-success" routerLinkActive="active" routerLink="/surveydisplay/{{ emp.employeeId }}"><h5>View Results</h5></button></td>
                        <td>
                            <a button type="button" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" routerLinkActive="active" routerLink="/employeeedit/{{ emp.employeeId }}">&#xE254;</i></a>
                            <a button type="button" class="delete" data-toggle="modal"><i class="material-icons" (click)="deleteEmployee(emp.employeeId)" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    </body>