*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8e8e9;
}

.about-section{
    background: url(pic3.jpg) no-repeat left;
    background-size: 55%;
    background-color: #c8e8e9;
    overflow: hidden;
    
    max-height: 90vh;
}

.inner-container{
    width: 45%;
    float: right;
    background-color: #c8e8e9;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 17px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:800px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:800px){
    .about-section{
        background-size: 80%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .about-section{
        padding: 0;
        
    }
    .inner-container{
        padding: 60px;
    }
}

/* body{
    background-color: #c8e8e9;
    min-height: 85vh;
    width: 100%;
  } */